<div class="bgded overlay home-top">
  <div id="pageintro" class="hoc clear">
    <div class="flexslider basicslider">
    </div>
  </div>
</div>
<div class="wrapper coloured">
</div>
<div class="wrapper bgded overlay home-second"">
  <div id="testimonial" class="hoc container clear">
    <blockquote>Ask yourself if what you’re doing today is getting you closer to where you want to be tomorrow - Anonymous</blockquote>
    <figure>
      <%= image_tag "ngoc.jpg", class: "circle image-profile" %>
      <figcaption><strong>Ngoc Vu</strong><br>
        <em>Người mộng mơ</em></figcaption>
    </figure>
  </div>
</div>

<div class="wrapper row3">
  <section class="hoc container clear">
    <h6 class="heading">Recently posts</h6>
    <p class="nospace">Là nơi chia sẻ, lưu giữ những kỉ niệm</p>
    <p class="nospace btmspace-80">Viết lách để rèn kĩ năng viết. </p>
    <div class="group latest">
    <% @posts.each_with_index do |post, index| %>
      <%= render "posts", post: post, index: index + 1 %>
    <% end %>
    </div>
  </section>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_third first">
      <h6 class="heading">Show more</h6>
      <nav>
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Review Book</a></li>
          <li><a href="#">BUN's Story</a></li>
          <li><a href="#">Love Story</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">CONTACT ME</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            13F, Keangnam Hanoi Landmark Tower, Plot E6, Me Tri, Nam Tu Liem, Hanoi, Vietnam
          </address>
        </li>
        <li><i class="fa fa-envelope-o"></i>ngocvu.uet@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">GỬI LỜI YÊU THƯƠNG THẦM KÍN ĐẾN MÌNH</h6>
      <%= form_for @message do |f| %>
        <fieldset>
          <legend>Newsletter:</legend>
          <%= f.text_field :name, class: "btmspace-15", placeholder: "Tên", required: true %>
          <%= f.text_field :body, class: "btmspace-15", placeholder: "Lời chưa nói", required: true %>
          <%= f.button "Submit" %>
        </fieldset>
      <% end %>
    </div>
  </footer>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

