<div class="row">
  <div class="col-md-12">
    <div class="card card-info card-outline">
      <div class="card-header">
        <div class="card-tools">
          <button type="button" class="btn btn-tool btn-sm"
                  data-widget="collapse"
                  data-toggle="tooltip"
                  title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool btn-sm"
                  data-widget="remove"
                  data-toggle="tooltip"
                  title="Remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <%= form_for [:admin, @post] do |f| %>
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <%= f.text_field :title, class: "form-control", id: "exampleInputEmail1" %>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Body</label>
            <div class="mb-3">
              <%= f.text_area :body, id: "editor1", style: "width: 100%" %>
            </div>
          </div>

          <div class="form-group">
            <label>Category</label>
            <%= f.select :category, options_for_select(category_options, @post.category), {},
              {class: "form-control", style: "width: 50%"} %>
          </div>

         <!--  <div class="form-group">
            <label for="exampleInputFile">Image</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="">Upload</span>
              </div>
            </div>
          </div> -->
        </div>

        <div class="card-footer">
        <%= f.button "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function () {
    ClassicEditor
      .create(document.querySelector('#editor1'))
      .then(function (editor) {
      })
      .catch(function (error) {
        console.error(error)
      })

    $('.textarea').wysihtml5({
      toolbar: { fa: true }
    })
  })
</script>
