<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to Post::CATEGORIES[@post.category.to_sym], "/#{@post.category}" %></li>
      <li><%= link_to @post.title, "javascript:avoid(0);" %></li>
    </ul>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content three_quarter first">
      <h1><%= @post.title %></h1>
      <%= image_tag "boconganh.jpg", class: "imgr borderedbox inspace-5" %>
      <p style="white-space: pre-line;word-break: break-word;"><%= @post.body.html_safe %></p>
      <div class="scrollable">
      </div>
      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <% @comments.each do |comment| %>
            <li>
              <article>
                <header>
                  <figure class="avatar"><%= image_tag "demo/avatar.png" %></figure>
                  <address>
                  By <a href="#"><%= comment.name || comment.email %></a>
                  </address>
                  <time datetime="<%= comment.created_at %>"><%= comment.created_at.strftime("%d %B %Y") %></time>
                </header>
                <div class="comcont">
                  <p><%= comment.body %></p>
                </div>
              </article>
            </li>
          <% end %>
        </ul>
        <%= render "form_comment" %>
      </div>
    </div>
    <%= render "right_menu" %>
    <div class="clear"></div>
  </main>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
