<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><%= link_to "Bun's House", root_path %></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="<%= active_class('home') %>"><%= link_to "Home", root_path %></li>
        <li class="<%= active_class('posts') %>"><%= link_to "Blog", posts_path(type: "blog") %></li>
        <li>
          <%= link_to "Review Book", posts_path(type: "review_book") %></li>
        <li>
          <%= link_to "BUN's Story", posts_path(type: "bun_story") %></li>
        <li>
          <%= link_to "Love Story", posts_path(type: "love_story") %></li>
      </ul>
    </nav>
  </header>
</div>
