<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><%= link_to "Bun's House", root_path %></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="<%= active_class('home') %>"><%= link_to "Home", root_path %></li>
        <li class="<%= active_class('posts') %>"><%= link_to "Blog", posts_path %></li>
        <li><a href="#">Review Book</a></li>
        <li><a href="#">BUN's Story</a></li>
        <li><a href="#">Love Story</a></li>
      </ul>
    </nav>
  </header>
</div>
